<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tutorial Sockets</title>
</head>
<body>
    <h1>Mi App Socket</h1>
        <div id="messages"></div>
        <br>
        <form id="send-message" v-on:submit="send($event)">
            <input type="text" name="code" id="code" placeholder="code">
            <input type="text" name="username" id="username" placeholder="username">
            <input type="text" name="text" id="text" placeholder="text">
            <input type="submit" value="Enviar!">
            {{ message }}
        </form>
        <div id="test"></div>
        <!-- JS -->

        <script src="/socket.io/socket.io.js"></script>
        <script src="libs/app.min.js"></script>
</body>
</html>